body {
    /* Photo by <a href="https://unsplash.com/@akeenster?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
    Abigail  Keenan</a> on <a href="https://unsplash.com/s/photos/football?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    background-image: url(/images/image2.png);
    background-size: cover;
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 10px;
    background-color: #d1d1d1;
    font-size: 16px;

}
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 32px 32px;
    color: #696969;
}

.choice-text {
    padding: 32px;
    width: 100%;
}

.correct {
    background: #FCC822;
}

.incorrect {
    background: #CA2F2F;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 32px;
}


@media screen and (max-width: 750px) {
    .choice-container {
        min-width: 640px;
    }
}