body {
    /* Photo by <a href="https://unsplash.com/@akeenster?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
    Abigail  Keenan</a> on <a href="https://unsplash.com/s/photos/football?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    background-image: url(/images/abigail-keenan-8-s5QuUBtyM-unsplash.jpg);
    background-size: cover;
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 25px;
    width: 50%;
    border-radius: 10px;
    background-color: #d1d1d1;
    font-size: 16px;

}
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 32px 32px;
    color: #696969;
}